.sign_up_content{
    margin: 0 auto;
    display: block;
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    height: max(100vh,900px);
    padding: 0 5%;
    text-align: center;
  }
.sign_up{
    
    margin: auto;
    margin-top: 5%;
    position: relative;  
  
    width: 100%;
    height: max(30%,300px);
    padding: 3% 6%;
    background-color: white;
    text-align: left;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
   
}

.register{
    
    margin: auto;
    margin-top: 5%;
    position: relative;  
    display: block;
    width: 100%;
    height: min(80%,650px);
    padding: 3% 6%;
    background-color: white;
    text-align: left;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
     transition: all 2s linear;
}
.transition{
    opacity: 0.5;
    background-color: #2f49d1;
}
.comments{
    color: gray;
    margin : 2% 0;
}
.welcome_header{
    margin: 0 0;
}
.sign_up a{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #5887ff;
    margin: 3% 0;
}
.sign_up_content a:hover{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #5887ff;
}
.workDaySetUp{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 2%;
  justify-content: center;
}
.workDaySetUp input{
  border: 0.5px solid blue;
  border-radius: 6px;
  width: 100%;
  height: 25px;
}
.workDaySetUp label{
  font-size: 20px;
  font-weight: bold;
  margin-top: 5%;
}
.workDayBlock{
  width: 30%;
  height: 80%;
}
.profesionForm{
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  height: 80%;
  width: 30%;
}
.backBttn{
  display: block;
  width: 150px;
  height: 50px;
  margin:0 1% 25px 1%;
  border: 0.5px solid gray;
  border-radius: 5px;
  background-color: white;
}
.submitBlock{
  display: flex;
  width: 100%;
  height: 30%;
  margin-top: auto;
  align-items: center;
  justify-content: center;
}
.sign_up_content input{
    padding: 20px 50px;
    height: 30px;
    width: 100% !important;
    background: #f0f2fa !important;
    border: 0 ;
    border-radius: 10px !important;
    transition: border 0.1s ease;
}
.sign_up_content input:focus{
    outline: none;
    border: 2px solid rgba(96, 158, 244, 0.5)!important ;
}
.sign_up_content label{
    margin: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.43;
    color: #171717;
}
.sign_up_content label:first-child{
    margin-top: 6%;
}
.timeInputWrapper{
  display: flex;

}
.timeInputBlock{
  margin: 0 auto;
 width: 45%;
 height: 30%;
}
.inputWrapper{
  display: flex;
  width: 100%;
  height: 8%;
}
.form_input{
  display: inline-block;
  width: 75%;
  height: 100%;

}
.additionalInputInfo{
  display: flex;
  width: 22%;
  margin-left: 2% ;
  line-height: 100%;
  justify-content: center;
  align-items: center;
}
